@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

/* Aquí SOLO pones las cosas que Tailwind NO puede hacer */
:root {
  --titleFont: "Bebas Neue", sans-serif;
  --paragraphFont: "Space Grotesk", sans-serif;
}
body {
  font-family: var(--paragraphFont); /* Grotesk es más legible para el body */
}
h1, h2, h3, h4, h5, h6, a {
  font-family: var(--titleFont); /* Bebas para títulos */
}
.nameContainer, .badgeContainer{
    font-family: var(--titleFont);
}