@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme{

  --animate-movelogo: moveLogo 3s ease-in-out infinite;
  --animate-float-slow:float 6s ease-in-out infinite;
  --animate-float-fast:float 4s ease-in-out infinite;
  --animate-marquee: marquee 40s linear infinite;

@keyframes moveLogo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@keyframes float{
          0%, 100%
          { transform: translateY(0px) }
          50%
          { transform: translateY(-10px) }
        }
}


:root {
  --titleFont: "Bebas Neue", sans-serif;
  --paragraphFont: "Space Grotesk", sans-serif;
  --monoFont: "Space Mono", monospace;
  --handwritingFont: "Caveat", cursive;
  --accent: #0f5132;
}
body {
  font-family: var(--paragraphFont);
  background-color: #ffffff;
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}
h1, h2, h3, h4, h5, h6, a {
  font-family: var(--titleFont);
}
.nameContainer, .badgeContainer{
    font-family: var(--titleFont);
}
.font-handwriting {
    font-family: var(--handwritingFont);
}
