@import "tailwindcss";

@theme{

  --animate-movelogo: moveLogo 3s ease-in-out infinite;
  --animate-float-slow:float 6s ease-in-out infinite;
  --animate-float-fast:float 4s ease-in-out infinite;

@keyframes moveLogo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
}

@keyframes float{
          0%, 100%
          { transform: translateY(0px) }
          50%
          { transform: translateY(-10px) }
        }
}


:root {
  --titleFont: "Bebas Neue", sans-serif;
  --paragraphFont: "Space Grotesk", sans-serif;
}
body {
  font-family: var(--paragraphFont);
}
h1, h2, h3, h4, h5, h6, a {
  font-family: var(--titleFont);
}
.nameContainer, .badgeContainer{
    font-family: var(--titleFont);
}
