---
import SectionTitle from '../ui/SectionTitle.astro';
interface Props{
    title:string;
    content:string;
}
const {title, content} = Astro.props;
---
<section class="border-t-8 border-b-8 border-black">
<div class="max-w-screen-xl mx-auto flex flex-col md:flex-row items-center justify-center md:justify-between gap-8 px-6 py-9">
<SectionTitle text={title} />

<div class="bg-[#f2f2f2] border-4 p-8 text-sm md:text-base lg:text-lg md:max-w-[50%]">
    <p>{content}</p>
</div>
</div>
</section>