---
interface Props {
  altLang: string;
}
const {altLang = "EN"} = Astro.props
import Button from "../ui/Button.astro";

let link = altLang.toLowerCase();
---


<div class ="header max-w-screen-xl mx-auto flex justify-end items-center gap-6 p-4">
    <nav class="hidden md:flex gap-6 text-xl uppercase font-bold tracking-wide">
        <a href="#work" class="hover:text-[var(--accent)] hover:underline decoration-4 underline-offset-4 transition-colors">Work</a>
        <a href="#about" class="hover:text-[var(--accent)] hover:underline decoration-4 underline-offset-4 transition-colors">About</a>
        <a href="#contact" class="hover:text-[var(--accent)] hover:underline decoration-4 underline-offset-4 transition-colors">Contact</a>
    </nav>
    <Button text=`${altLang}` href={`/${link}`} className="text-xs md:text-base w-8 h-8 md:w-[52px] md:h-[52px]"></Button>
</div>
