---
interface Props {
  altLang: string;
}
const {altLang = "EN"} = Astro.props
import Button from "../Button.astro";

let link = altLang.toLowerCase();
---


<div class ="header flex justify-end p-4">
    <Button text=`${altLang}` href={`/${link}`} className="text-xs md:text-base w-8 h-8 md:w-[52px] md:h-[52px]"></Button>
</div>
