---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Computer & Systems Engineering Student with experience in <b
      >Full-Stack development</b
    >, using Agile <b>Scrum</b> Methodology. Proven track record in <b
      >efficient problem solving</b
    > and <b>quick adaptation</b> to new technologies. Interested in contributing
    to the success of innovative projects in collaborative areas through my experience
    and technical collaborative areas through my experience and technical skills.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Computer & Systems Engineering"
      subtitle="2021 to Actually at Universidad de Cundinamarca, Facatativá, Colombia"
    />
    <TimeLineElement
      title="Oracle Next Education"
      subtitle="2024 to Actually at Remote, Subachoque, Colombia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Algorithms Tutor and Competitive Programmer"
      subtitle="From Abril 2022 to Actually at Universidad de Cundinamarca, Facatativá, Colombia"
    >
      <ul class = "list-disc">
        <li>
          I provide competitive programming tutorials in C++ and Python,
          providing guidance and support to students to improve their skills in
          algorithms and data structures.
        </li>
        <li>
          I keep myself up to date through extensive research and constant
          review of technical of technical documentation related to algorithms
          and data structures, ensuring the application and data structures.
        </li>
        <li>
          I am an active participant in national and international competitions,
          such as ICPC international competitions, such as the ICPC
          (International Collegiate Programming Contest), CCPL (Colombian
          Collegiate Programming League), Codeforces Divs and RPC, collaborating
          with teams to tackle with teams to tackle challenges of varying
          complexity and hone my logic and competitive programming skills.
          skills in logic and competitive programming.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://c46e136a583f7e334124-ac22991740ab4ff17e21daf2ed577041.ssl.cf1.rackcdn.com/Certificate/ScrumFundamentalsCertified-SantiagoNaranjoHerrera-1023229.pdf" target="_blank"> Scrum Fundamentals</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/tatonaranjo/details/certifications/1705755676794/single-media-viewer/?profileId=ACoAAEAilJMBCWODm3mFNYPjgp6430rGI4Ls1v0" target="_blank">ICPC Colombia - XXXVII Maraton Nacional de Programacion ACIS REDIS</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Agile Methodology</li>
    <li>SCRUM</li>
    <li>C++</li>
    <li>C#</li>
    <li>HTML5</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>ReactJS</li>
    <li>TailwindCSS</li>
    <li>Go</li>
    <li>Competitive Programming</li>
    <li>Problem Solving</li>
    <li>Technical Research</li>
  </ul>
</BaseLayout>
