---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { Image } from "astro:assets";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5 flex gap-2 items-center">Projects with <Image
      class="justify-center"
      format="svg"
      width={50}
      height={50}
      src="/Doodles/react_logo.svg"
      alt="Programming Language Framework Logo"
      loading="eager"
    /></div>
  </div>
  <HorizontalCard
    title="Realtime Chat"
    img="/ProjectImages/RealtimeChat.webp"
    desc="Realtime chat is a project made with React, having as database Firestore, Google's non-relational database, and using Firebase as an authenticator method for user registration. It owes its name to the way in which the data is updated in real time thanks to Firebase. This was a project made by TatoNaranjo to learn by creating tools with applications that you could find in real life."
    url="https://github.com/TatoNaranjo/Realtime-Chat"
    badge="React & Firebase!"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="NightingCare"
    img="/ProjectImages/NightingCareLead.webp"
    desc="NightingCare is a freelance platform created by me and my university friends: Santiago Sierra, Duván Matallana and Laura Latorre, which focuses on the recruitment and creation of medical services. My job was to model the database made in SQL with the help of GO to create an API following the REST methodology, as well as to supervise the correct development of the Front-End with React using the SCRUM Agile Methodology"
    url="#"
    badge="React & Go"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div>

  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
</BaseLayout>
