<!doctype html>
<html lang="en" role="main">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta 
  name="description" 
  content="El portafolio de desarrollo de TatoNaranjo, mostrando proyectos con React, Astro y más."/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>TatoNaranjo</title>
	</head>
	<body>
		<slot />
	</body>
</html>


<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
