---
interface Props{
    text:string;
}
const {text} = Astro.props;
---
<div class="bg-black border-4 border-black flex w-fit justify-center align-center text-white text-[20px] md:text-[64px] px-9 py-2 -rotate-2 hover:rotate-0 transition-transform cursor-default shadow-[8px_8px_0_0_#000]">
    <h2 class="font-mono font-bold">
        <span class="text-white">&gt;_</span> {text}
    </h2>
</div>